@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base /* series of resets (ex: margin, padding, font-size, ectc...) */ {
	/* Here you'll insert base styles (ex: :root, body, variables, h1 etc...) */
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	html,
	body {
		height: 100%;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color: #000000;
		color: #fefefe;
		font-size: 16px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@layer components /* styles for components class (ex: container ) */ {
	/* Here you'll insert components styles (ex: buttons, cards, etc...) */
}

@layer utilities /* series of utilities class (ex: pt, mt, shadow, grid-cols-2, etc...) */ {
	/* Here you'll insert custom utilities classes (ex: .filter-none { filter: none; ) */
	.home-bottom-border {
		@apply border-b-8 border-[#222];
	}
	.home-top-border {
		@apply border-t-8 border-[#222];
	}
}
